.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
  background-color: var(--contrast-color);
  color: var(--primary-text-color);
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postTopRight {
  position: relative;
  cursor: pointer;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
  color: var(--secondary-text-color);
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}

.dropdown {
  position: absolute;
  right: 10px;
  padding: 8px 25px 8px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  background-color: var(--background-color);
}

.dropdown p:hover {
  color: var(--accent-color);
}

.updateImgContainer {
  position: relative;
}

.updateOption {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.updateImg {
  width: 100%;
  object-fit: cover;
}

.updateDescText {
  width: 350px;
}

.updateCancelImg {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #d62828;
}

/* comment section */

.comment_container {
  padding-bottom: 15px;
  margin-top: 12px;
  margin-top: 12px;
  font-size: 14px;
  border: 1px solid transparent;
  border-bottom-color: var(--background-color);
}

.comment_user_container {
  display: flex;
  gap: 1rem;
}

.comment_user_container img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.comment_container li {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.comment_container li button {
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  border: 0;
  outline: none;
  background-color: var(--contrast-color);
}

.comment_text {
  margin-top: 5px;
}

.deleteCommentBtn {
  color: #f24949;
}

.submit_comment_container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_comment_text {
  padding: 10px 15px;
  flex: 1;
  outline: none;
  border: 0;
  border-radius: 1.2rem;
}

.submitCommentBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 8px 15px;
  background-color: transparent;
  color: var(--accent-color);
  outline: none;
  border: 0;
  cursor: pointer;
}